.container {
    padding: 10px 10px 10px 10px;
    border: 1px solid rgb(159, 243, 235);
    display: flex;
    align-content: space-between;
}

ul {
    align-content: center;
    padding-inline-start: 0;
    width: 25%;
    height: auto;
    display: flex;

}

.list__item {
    list-style: none;
    padding: 5px 5px 5px 5px;
    border: 7px solid rgb(11, 26, 80);
    background-color: antiquewhite;
}
