body {
    background-color: gray;
}
.container {
    padding: 10px 10px 10px 10px;
    border: 30px solid rgb(246, 196, 196);
    width: 300px;
    height: 300px;
    /*text-align: center;*/
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: space-between;
}

.container__item {
    padding: 30px 10px 10px 10px;
    background-color: aquamarine;
    border-radius: 10px;
    margin: 10px;
    width: 60px;
    height: 40px;
    flex-basis: auto;
    text-align: center;
}



.image-container {
    border:10px solid rgb(159, 243, 235);
    position: fixed;
    bottom:0;
    right:0;
    margin-right: 10px;
    margin-bottom: 10px;
}

.plant-image {
    width: 300px;
    height: auto;
    /*position: fixed;
    bottom: 0;
    right: 0;*/
    padding: 10px 10px 10px 10px;
    
}

.car-image {
    width: 600px;
    height: auto;
    float: left;
}

p {
    text-align: center;
}
